/* Google icons configuration */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24,
}
span {
  /* color: white; */
}

/* ____________________________________________________________________________________________________ */
.theme-light {
  --color-text: black;
  --color-bg-header: rgba(255, 255, 255, 0.5);
  --color-text-header: rgba(0, 0, 0, 0.7);
}
.theme-dark {
  --color-text: white;
  --color-bg-header: rgba(0, 0, 0, 0.4);
  --color-text-header: rgba(255, 255, 255, 0.8);
}

/* ____________________________________________________________________________________________________ */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  color: black;
  text-decoration: none;
}
body, button, input, textarea {
  font-family: "Inconsolata", sans-serif;
  font-size: 1.2rem;
}
#container {
  padding: 10px;
  backdrop-filter: blur(10px);
}

/* ____________________________________________________________________________________________________ */
header {
  border-radius: 10px;
  padding-left: 15px;
  gap: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255, 0.7);
}
header > span {
  font-family: "Monoton";
  font-size: 3rem;
}
nav > a {
  margin-right: 10px;
  transition: color 0.2s;
  color: rgba( 0, 0, 0, 0.6);
}
nav a:hover {
  color: black;
}

/* ____________________________________________________________________________________________________ */
section {
  margin-top: 60px;
}
h2 {
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 10px;
  font-size: 3rem;
  font-weight: 400;
  word-break: break-all;
  word-wrap: break-word;
  background-color: rgb(255, 255, 255, 0.7);
}
section > div {
  padding-left: 40px;
  padding-right: 40px;
}

/* ____________________________________________________________________________________________________ */
#profile > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
#profile img {
  width: 360px;
  filter: grayscale(100%); /* making all the images black & white */
}
#greeting {
  font-size: 5rem;
}
#greeting p {
  overflow-wrap: anywhere;
}
#greeting span {
  font-family: "Monoton";
  word-spacing: 20px;
}

/* ____________________________________________________________________________________________________ */
#about div {
  padding-left: 40px;
}
#about p {
  margin-top: 5px;
}

/* ____________________________________________________________________________________________________ */
#education div {
  padding-left: 40px;
}
#education p {
  margin-top: 5px;
}
#education span {
  margin-left: 5px;
  margin-right: 5px;
  /* font-style: italic; */
  text-transform: capitalize;
  color: rgb(100, 100, 100);
}

/* ____________________________________________________________________________________________________ */
#soft-skills-container {
  margin-top: 40px;
  margin-bottom: 40px;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
/* use the unique features of web medium to be expressive and interesting */
.shapes {
  background-color: rgba(255, 255, 255, 0.5);
  /* margin-left: auto; */
  /* margin-right: auto; */
  border: 1px solid black;
  width: 200px;
  height: 200px;
  text-align: center;
  align-content: center;
  font-size: 2rem;
}
.shapes:nth-child(3) {
  animation: shapes-morphing 5s infinite alternate-reverse;
}
@keyframes shapes-morphing {
  0% {
    /* clip-path: ellipse(0% 0% at 50% 50%); */
    /* border-radius: 10%; */

    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
  }
  50% {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
  }
  100% {
    /* clip-path: none; */
    /* border-radius: 50%; */

    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
  }
}

#skills > .levels {
  padding: 20px;
  gap: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.levels > div {
  text-align: center;
}
#skills img {
  width: 80px;
  height: 80px;
  filter: grayscale(100%); /* making all the images black & white */
}

/* ____________________________________________________________________________________________________ */
details {
  margin-bottom: 20px;
  border-radius: 10px;
}
summary {
  border-bottom: 1px solid black;
  padding: 10px;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255, 0.7);
}
summary:hover {
  background-color: rgb(255, 255, 255, 0.9);
}
summary > span {
  padding: 10px;
}
summary > span:nth-child(1) {
  font-size: 1.3em;
}
summary > span:nth-child(2) {
  color: rgb(100, 100, 100);
}
summary a {
  border: 1px solid black;
  border-radius: 10%;
  padding: 10px;
}
summary a:hover {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}
details > div {
  padding: 20px;
  background-color: rgb(255, 255, 255, 0.3);
}
details p {
  margin-bottom: 20px;
}
.scroll-carousel {
  padding-top: 20px;
  overflow-x: scroll;
  white-space: nowrap;
}
.scroll-carousel img {
  margin-right: 20px;
  width: 600px;
}

/* ____________________________________________________________________________________________________ */
#contact #grid {
  margin: 0 auto;
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(255, 255, 255, 0.4);
}
#grid > div {
  width: 80px;
  height: 80px;
  border: 1px solid rgba( 0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#grid img {
  width: 60%;
  filter: grayscale(100%); /* making all the images black & white */
}
.hue-rotate {
  background-color: lightgreen;
  animation: hue-rotate 6s linear infinite;
}
@keyframes hue-rotate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

/* ____________________________________________________________________________________________________ */
#drawing-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  /* filter: blur(10px); */
}





/* ____________________________________________________________________________________________________ */
/* to make webpage responsive */
@media screen and (max-width: 700px) {
  #container {
    background-color: #7186ff;
  }
  header {
    padding-left: 0px;
    flex-direction: column;
    word-break: break-all;
  }
  header > span {
    font-size: 6rem;
  }
  nav {
    width: 100%;
    text-align: center;
  }
  nav a {
    margin-right: 0;
    padding: 10px;
    display: block;
    font-size: 2rem;
  }
  h2 {
    text-align: center;
  }
  section > div {
    padding: 0;
  }
  #profile > div {
    flex-direction: column;
  }
  #profile img {
    width: 80%;
  }
  #greeting {
    font-size: 3rem;
  }
  #greeting p {
    text-align: center;
  }
  #about > div {
    padding: 0;
  }
  #education > div {
    padding: 0;
  }
  #projects > div {
    padding: 0;
  }
  summary {
    display: block;
  }
  summary > span {
    display: block;
    text-align: center;
  }
  #grid > div {
    width: 18vmin;
    height: 18vmin;
    font-size: 4vmin;
  }
  #grid img {
    width: 60%;
  }
  #drawing-background {
    display: none;
  }
}
